
[Unit]
Description=downtobox
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=5
User=mnmt
WorkingDirectory=/home/mnmt/src/downtobox/src
ExecStart=/usr/local/bin/flask run --reload --host=0.0.0.0 --port=5555

[Install]
WantedBy=multi-user.target
