
[Unit]
Description=downtobox
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=5
User=mnmt
WorkingDirectory=/home/mnmt/src/downtobox/src
ExecStart=/usr/bin/python3 app.py

[Install]
WantedBy=multi-user.target
